# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Java
*.class
*.jar
*.war
memory.md
.notes/

backups/

token.txt

*.ipr
*.iws
*.iml
.idea/
sql/tempfile_*
